* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  /* padding: 0px; */

}

.background-color {
  background-color: #3E2A35;
}

body {
  background-color: #C2B2B4;
}


.search-button {
  background-image: url(images/search.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  vertical-align: middle;
  width: 35px;
  height: 41px;
  border-radius: 6%;
  position: absolute; left: 96%; top: 3%;
  border: none;

}

.search-input {
 height: 35px;
 width: 300px;
 padding-left: 6px;
 font-size: 20px;
 position: absolute; left: 74.5%; top: 3%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #3E2A35;
  align-items: center;
  margin-bottom: 60px;
}

.foto-finder-header {
  color: white;
  width: 33%;
  margin-left: 15px;
  letter-spacing: 6px;
  margin-top: 2%;

}

.foto-logo {
  width: 9%;
  margin-right: 2%;
}

.main-1 {
  display: flex;
  flex-direction: column;
  background-color: #3E2A35;

  }

  form {
    align-items: center;
    margin-left: 30%;
  }

.main-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 60px;

}

.flex-input {
  margin-left: 30%;
  align-items: center;
  margin-top: 1%;
}

.caption-input {
  font-size: 230%;
  width: 65%;
  height: 40px;
  margin-bottom: 3%;
}

.title-input {
  font-size: 230%;
  width: 65%;
  height: 40px;
  margin-bottom: 3%;
}

.url-input {
  font-size: 230%;
  width: 65%;
  height: 40px;
  margin-bottom: 5%;
}

.title {
  display: flex;
  color: #BDAFB0;
  align-items: flex-start;
}

.caption {
  display: flex;
  color: #BDAFB0;
  align-items: flex-start;
}

.url {
  display: flex;
  color: #BDAFB0;
  align-items: flex-start;
}

.choose-file {
  width: 65%;
  height: 40px;
  margin-bottom: 2%;
}

.add-to-album {
  width: 65%;
  height: 26px;
  align-items: flex-end;
  margin-bottom: 4%;
}

.delete-card {
  background-image: url(images/delete.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 25px;
  width: 25px;
  display: inline;
  margin-top: 5px;
  margin-left: 5px;
  border-color: transparent;
}

.favorite-card {
  background-image: url(images/favorite.svg);
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  background-color: transparent;
  display: inline;
  margin-left: 168px;
  margin-top: 7px;
  border-color: transparent;
}

.card-div {
  width: 230px;
  height: 250px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-right: 45px;
  margin-left: 35px;
}

.insert-photo {
  height: 145px;
  width: 230px;
  margin-bottom: -4px;
}

.img-title {
  height: 30px;
  background-color: white;
  padding-left: 6px;
  padding-top: 6px;
}

.img-caption {
  height: 70px;
  background-color: white;
  overflow: scroll;
  padding-left: 6px;
  padding-top: 6px;
}

.button-section {
  height: 40px;
  background-color: #5B4447;
}

.favorite {
  background-image: url(images/favorite-active.svg);
  background-repeat: no-repeat;
}

.error {
  width: 20px;
  height: 18px;
  margin-right: 4px;
}

.caption-error,
.title-error,
.URL-error  {
  color: white;
  font-weight: 800;
  font-size: 20px;
  margin-left: 6%;
  position: absolute; left: 36%;
}
